<%- include('layout') %>
<div class="Auth">
    <form action="/auth/login" method="POST">
        <h1>Login</h1>
        <% if (error.length > 0) { %>
            <div class="error-messages">
                <% error.forEach(function(err) { %>
                    <p><%= err.msg %></p>
                <% }); %>
            </div>
        <% } %>
        <div class="input-box">
            <input type="email" name="email" placeholder="Email ID" required"/>
        </div>
        <div class="input-box">
            <input type="password" id="password" name="password" placeholder="Password" required/>
            <span id="togglePassword" class="eye-icon"><i class="fas fa-eye"></i></span>
        </div>
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/auth/register">Register here</a></p>
    </form>
</div>

<script>
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('password');

    togglePassword.addEventListener('click', function () {
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        this.querySelector('i').classList.toggle('fa-eye');
        this.querySelector('i').classList.toggle('fa-eye-slash');
    });
</script>