<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <%- include('layout') %>
    <div class="container">
      <form action="/add" method="POST" id="add-form">
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="text" name="position" placeholder="Position" required />
        <input
          type="text"
          name="department"
          placeholder="Department"
          required
        />
        <input type="text" name="salary" placeholder="Salary" required />
        <button type="submit">Add Employee</button>
      </form>
      <a href="/">Back to Employee List</a>
    </div>
  </body>
</html>
